.my-drawer {
    position: relative;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}

.am-drawer.am-drawer-left .am-drawer-draghandle {
    left: -10px;
}

.home-main {
    height: 100%;
    display: flex;
    flex-direction: column;

    .home-conent {
        flex: 1;
        flex-direction: column;
        display: flex;

        .bot-content {
            flex: 1;
            overflow: auto;
        }
    }
}