.my-drawer {
    position: relative;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}

.am-drawer.am-drawer-left .am-drawer-draghandle {
    left: -10px;
}

.home-main {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top-ipt {
        height: 0.88rem;
        display: flex;
        align-items: center;
        padding: 0 5px;

        .lt-icon,
        .rt-men {
            width: 0.76rem;
        }

        .cen-searh {
            flex: 1;

            .am-search {
                background: #fff;

                .am-search-input {
                    background: #efeff4;
                    border-radius: 0.4rem;
                }

                .am-search-cancel {
                    display: none;
                }
            }
        }
    }

    .home-conent {
        flex: 1;
        flex-direction: column;
        display: flex;

        .choose-type {
            height: 1.1rem;
            margin-top: 5px;

            .choose-box {
                padding: 0 15px;

                display: flex;
                justify-content: space-between;


                .type-box {
                    width: 1.5rem;
                    cursor: pointer;

                    p {
                        font-size: 0.24rem;
                        padding: 5px 0;
                    }
                }
            }



        }

        .bot-content {
            flex: 1;
            overflow: auto;
        }

        

    }
}